.row
	.col-6
		.form
			.form-group
				h3 Notifications

		.form
			.form-group(*ngFor="let field of fields")
				label {{field.title}}
				textarea.form-control([(ngModel)]="field.value" rows="4" style="width: 400px;")
			.form-group
				button.btn.btn-primary(type="button" (click)="saveFields()") Save
				button.btn.btn-default.ml-1(type="button" (click)="resetFields()") Reset

	.col-6
		h2.text-danger PATREON WARNING:
		p.lead Code relating to Patreon syncing has been removed from the public pixel.horse codebase.
		p.lead
			| You <b>MUST</b> contact the Pony Town Team before opening a Patreon based off the Pony Town Custom Server source code. Not doing so is a violation of the <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC-BY-NC 4.0</a> license applied to the art and music assets supplied with the game. Please submit a request for approval to <a href="mailto:ponytownhelp@gmail.com">ponytownhelp@gmail.com</a>.

.row
	.col-12
		.form
			.form-group
				label Suspicious pony info to report
				textarea.form-control([(ngModel)]="suspiciousPonies" rows="15")
			.form-group(*ngIf="suspiciousPoniesError")
				.alert.alert-danger
					| {{suspiciousPoniesError}}
			.form-group
				button.btn.btn-primary((click)="saveSuspiciousPonies()") Save
				button.btn.btn-default.ml-1((click)="resetSuspiciousPonies()") Reset
