a.btn.btn-lg.btn-pt.btn-outline-primary.btn-block.mb-2(
	*ngIf="enableVisitPTButton" (mouseenter)="pony.select()" (mouseout)="pony.reset()" [href]="ptLink" target="_blank"
	rel="noopener noreferrer")
	.pt-logo
		img.pixelart.logo(revSrc="images/logo-pt-small.png")
	| {{'Visit Pony Town main server!'}}
	.visit-pt-pony
		visit-pt-pony(#pony [scale]="2")
